-f https://download.pytorch.org/whl/torch_stable.html
altgraph==0.17
certifi==2020.12.5
cffi==1.14.5
chardet==4.0.0
click==7.1.2
filelock==3.0.12
idna==2.10
importlib-metadata==3.7.3
joblib==1.0.1
numpy==1.20.1
packaging==20.9
Pillow==8.1.2
pycparser==2.20
pyinstaller==4.2
pyinstaller-hooks-contrib==2021.1
pyparsing==2.4.7
regex==2021.3.17
requests==2.25.1
sacremoses==0.0.43
six==1.15.0
tokenizers==0.10.1
torch==1.8.0+cpu
torchaudio==0.8.0
torchvision==0.9.0+cpu
tqdm==4.59.0
transformers==4.4.2
typing-extensions==3.7.4.3
urllib3==1.26.4
zipp==3.4.1
